
#leftlogo img{
    width: 50px;
    border-radius: 50%;
    margin-right: 0px;
}

#firstlogo{
    display: flex;
    justify-content:center;
    margin-top: 20%;
}
#firstlogo img{
    width: 200px;
    height: 150px;
    border-radius: 50%;
}
#mega{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    margin: 0px;
}
#mega li{
    margin: 20px;
    list-style-type: none;

}
#mega li a{
    text-decoration: none;
    color: black;
}
#showmega{
    width: 100%;
    background-color: brown;
    height: 300px;
}